.settings-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 3rem;
  padding: 0.5rem;
  height: 100vh;
  align-items: stretch;
}

.settings-pane {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 800px;
  width: 100%;
  margin: 0 10px;
}

.settings-label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.settings-input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.settings-input:focus {
  border-color: #0078d4;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  margin-bottom: 1rem;
}

.save-settings-btn, .change-password-btn {
  background-color: #0078d4;
  color: white;
  padding: 0.5rem;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 1rem;
  transition: background 0.3s;
}

.save-settings-btn:hover, .change-password-btn:hover {
  background-color: #005a9e;
}

.error-message {
  color: red;
  font-size: 14px;
  font-weight: 600;
  margin-top: 1rem;
}

.search-bar input {
  width: 100%;
  font-size: 14px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  padding: 0.6rem;
}

.search-bar input:focus {
  border-color: #0078d4;
}

.search-bar {
  padding: 0rem;
}

.location-table table {
  width: 100%;
  /* border-collapse: collapse; */
}

.location-table th, .location-table td {
  padding: 10px;
  text-align: left;
  font-size: 14px;
  color: #000;
}

.location-table th {
  background-color: #f4f4f4;
}

.location-table td {
  background-color: white;
}

.delete {
  background-color: #d9534f;
  color: white;
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.delete:hover {
  background-color: #c9302c;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.pagination-btn {
  background-color: #0078d4;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.pagination-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #005a9e;
}

.page-number {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}