.home-screen-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 3rem;
    padding: 0.5rem;
    height: 100vh;
    align-items: stretch;
}

.home-screen-pane {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 800px;
    width: 100%;
    margin: 0 10px;
}